<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.callus" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="m" >
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true"/>
        <service android:name=".FCM.Messaging" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity
            android:name=".UI.profile.AddPayment"
            android:exported="false" />
        <activity
            android:name=".UI.profile.AccountSettings"
            android:exported="false" />
        <activity
            android:name=".UI.profile.Massages"
            android:exported="false" />
        <activity
            android:name=".UI.profile.Trips"
            android:exported="false" />
        <activity
            android:name=".UI.profile.Wallet"
            android:exported="false" />
        <activity
            android:name=".UI.profile.Help"
            android:exported="false" />
        <activity
            android:name=".UI.profile.ProfileInfo"
            android:exported="false" />
        <activity
            android:name=".Fragments.BottomNavFragments.Departures.ForMap.ChooseYourLocation"
            android:exported="false" />
        <activity
            android:name=".UI.MainFragmentActivities.Delivery"
            android:exported="false" />
        <activity
            android:name=".UI.MainFragmentActivities.SavedPlaces"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC71tyYpcjT-4CUM3_30mKfk-dPEura0dU" />

        <activity
            android:name=".UI.MainActivity"
            android:exported="true" />
        <activity
            android:name=".UI.VerifyPhone.VerifyVCode"
            android:exported="true" />
        <activity
            android:name=".UI.VerifyPhone.SendVCode"
            android:exported="true" />
        <activity
            android:name=".UI.SplashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>